<h1>TACOS</h1>

<p> There are many delish tacos! </p>

<% fillings = ["Carnitas", "Pescado", "Al Pastor", "Avocado"] %>

<u>
  <% for filling in fillings %>
    <li> <% =filling %> </li>
  <% end %>
</u>